body {
    background-color: #9966CC;
	background-image: url(back.jpg);
	background-repeat: no-repeat;
	background-size:100%;
}
.container {
	margin-left: 400px;
    margin-right: 200px;
    margin-top: 100px;
	height:400px;
	width:1400px;
}
.playerStatColumn {
    background-color: #E07F57;
	border:#003399;
	border:2px;
	float:left;
	padding:5px;
}
.resultColumn {
	padding:9px;
    background-color: #FFFFFF;
	width:550px;
	float:left;
	border-width:2px;
	border-color:#000000;
	overflow: scroll;
	height:492px;
}
.stat {
	margin-left:30px;
	padding:1px;
}
.submitArea {
	width:450px;
	margin-left:400px;
	background-color: #CC0000;
}
