<!doctype html>
<html>
<head>
    <title>Stat Calculator</title>
    <link rel="stylesheet" href="static/style.css"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <form name="calculateForm" method="POST" action="/doIt">
        <!-- First player stats -->
        <div class="playerStatColumn">
            <table align="center" style="height:500px">
                <tr>
                    <td class="stat">Хит пойнтс</td>
                    <td><input name="fpHitPoints" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Пики</td>
                    <td><input name="fpSpades" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Защита</td>
                    <td><input name="fpDefence" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний урон</td>
                    <td><input name="fpRangeDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальние атаки</td>
                    <td><input name="fpRangeAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний мод.</td>
                    <td><input name="fpRangeMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний урон</td>
                    <td><input name="fpCloseDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближние атаки</td>
                    <td><input name="fpCloseAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний мод.</td>
                    <td><input name="fpCloseMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный урон</td>
                    <td><input name="fpMeleeDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашные атаки</td>
                    <td><input name="f pMeleeAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный мод.</td>
                    <td><input name="fpMeleeMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Оружие 1 раунд</td>
                    <td>
                        <select>
                            <option name="fpWeapon1" value="Range">Дальний</option>
                            <option name="fpWeapon1" value="Close">Ближний</option>
                            <option name="fpWeapon1" value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 2 раунд</td>
                    <td>
                        <select>
                            <option name="fpWeapon2" value="Range">Дальний</option>
                            <option name="fpWeapon2" value="Close">Ближний</option>
                            <option name="fpWeapon2" value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 3 раунд</td>
                    <td>
                        <select>
                            <option name="fpWeapon3" value="Range">Дальний</option>
                            <option name="fpWeapon3" value="Close">Ближний</option>
                            <option name="fpWeapon3" value="Melee">Рукопашный</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 1 раунд</td>
                    <td>
                        <select>
                            <option name="fpTactic1" value="Agressive">Агрессия</option>
                            <option name="fpTactic1" value="Careful">Осторожность</option>
                            <option name="fpTactic1" value="Deception">Обман</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 2 раунд</td>
                    <td>
                        <select>
                            <option name="fpTactic2" value="Agressive">Агрессия</option>
                            <option name="fpTactic2" value="Careful">Осторожность</option>
                            <option name="fpTactic2" value="Deception">Обман</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 3 раунд</td>
                    <td>
                        <select>
                            <option name="fpTactic3" value="Agressive">Агрессия</option>
                            <option name="fpTactic3" value="Careful">Осторожность</option>
                            <option name="fpTactic3" value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <!-- End first player stats -->

        <!-- Fight results -->
        <div class="resultColumn">
            All work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boy
        </div>
        <!-- End fight results -->

        <!-- Second player stats -->
        <div class="playerStatColumn">
            <table align="center" style="height:500px">
                <tr>
                    <td class="stat">Хит пойнтс</td>
                    <td><input name="spHitPoints" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Пики</td>
                    <td><input name="spSpades" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Защита</td>
                    <td><input name="spDefence" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний урон</td>
                    <td><input name="spRangeDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальние атаки</td>
                    <td><input name="spRangeAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний мод.</td>
                    <td><input name="spRangeMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний урон</td>
                    <td><input name="spCloseDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближние атаки</td>
                    <td><input name="spCloseAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний мод.</td>
                    <td><input name="spCloseMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный урон</td>
                    <td><input name="spMeleeDamage" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашные атаки</td>
                    <td><input name="spMeleeAttacks" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный мод.</td>
                    <td><input name="spMeleeMod" type="text" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Оружие 1 раунд</td>
                    <td>
                        <select>
                            <option name="spWeapon1" value="Range">Дальний</option>
                            <option name="spWeapon1" value="Close">Ближний</option>
                            <option name="spWeapon1" value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 2 раунд</td>
                    <td>
                        <select>
                            <option name="spWeapon2" value="Range">Дальний</option>
                            <option name="spWeapon2" value="Close">Ближний</option>
                            <option name="spWeapon2" value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 3 раунд</td>
                    <td>
                        <select>
                            <option name="spWeapon3" value="Range">Дальний</option>
                            <option name="spWeapon3" value="Close">Ближний</option>
                            <option name="spWeapon3" value="Melee">Рукопашный</option>
                    </td>
                    </select>
                </tr>
                <tr>
                    <td class="stat">Тактика 1 раунд</td>
                    <td>
                        <select>
                            <option name="spTactic1" value="Agressive">Агрессия</option>
                            <option name="spTactic1" value="Careful">Осторожность</option>
                            <option name="spTactic1" value="Deception">Обман</option>
                    </td>
                    </select>
                </tr>
                <tr>
                    <td class="stat">Тактика 2 раунд</td>
                    <td>
                        <select>
                            <option name="spTactic2" value="Agressive">Агрессия</option>
                            <option name="spTactic2" value="Careful">Осторожность</option>
                            <option name="spTactic2" value="Deception">Обман</option>
                    </td>
                    </select>
                </tr>
                <tr>
                    <td class="stat">Тактика 3 раунд</td>
                    <td>
                        <select>
                            <option name="spTactic3" value="Agressive">Агрессия</option>
                            <option name="spTactic3" value="Careful">Осторожность</option>
                            <option name="spTactic3" value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <!-- End second player stats -->
        <!-- Submit area start -->
        <div class="submitArea">
            <div style="float:left; padding:5px">
                <form method="POST" action="/doIt">
                    <input type="submit" value="ОЧИСТИТЬ">
                </form>
            </div>
            <div style="float:left; padding:5px">
                <input type="submit" value="ЗАПУСК">
            </div>
            <div style="float:left; padding:5px">
                <form method="POST" action="/doIt">
                    <input type="submit" value="ЭКСПОРТ">
                </form>
            </div>
        </div>
        <!-- Submit area end -->
    </form>
</div>
<!-- End container -->
</body>
</html>
