<!doctype html>
<html>
<head>
    <title>Stat Calculator</title>
    <link rel="stylesheet" href="static/style.css"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <form name="calculateForm" method="POST" action="/calculate">
        <!-- First player stats -->
        <div class="playerStatColumn">
            <table align="center" style="height:500px">
                <tr>
                    <td class="stat">Хит пойнтс</td>
                    <td><input value='0'  name="fpHitPoints" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Пики</td>
                    <td><input value='0'  name="fpSpades" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Защита</td>
                    <td><input value='0'  name="fpDefence" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний урон</td>
                    <td><input value='0'  name="fpRangeDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальние атаки</td>
                    <td><input value='0'  name="fpRangeAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний мод.</td>
                    <td><input value='0'  name="fpRangeMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний урон</td>
                    <td><input value='0'  name="fpCloseDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближние атаки</td>
                    <td><input value='0'  name="fpCloseAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний мод.</td>
                    <td><input value='0'  name="fpCloseMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный урон</td>
                    <td><input value='0'  name="fpMeleeDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашные атаки</td>
                    <td><input value='0'  name="fpMeleeAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный мод.</td>
                    <td><input value='0'  name="fpMeleeMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Оружие 1 раунд</td>
                    <td>
                        <select name="fpWeapon1">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 2 раунд</td>
                    <td>
                        <select name="fpWeapon2">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 3 раунд</td>
                    <td>
                        <select name="fpWeapon3">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 1 раунд</td>
                    <td>
                        <select name="fpTactic1">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 2 раунд</td>
                    <td>
                        <select name="fpTactic2">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="stat">Тактика 3 раунд</td>
                    <td>
                        <select name="fpTactic3">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <!-- End first player stats -->

        <!-- Fight results -->
        <div class="resultColumn">
            All work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work
            and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a
            dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no
            play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull
            boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play
            makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll
            work and no play makes Jack a dull boyAll work and no play makes Jack a dull boyAll work and no play makes
            Jack a dull boy
        </div>
        <!-- End fight results -->

        <!-- Second player stats -->
        <div class="playerStatColumn">
            <table align="center" style="height:500px">
                <tr>
                    <td class="stat">Хит пойнтс</td>
                    <td><input value='0'  name="spHitPoints" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Пики</td>
                    <td><input value='0'  name="spSpades" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Защита</td>
                    <td><input value='0'  name="spDefence" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний урон</td>
                    <td><input value='0'  name="spRangeDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальние атаки</td>
                    <td><input value='0'  name="spRangeAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Дальний мод.</td>
                    <td><input value='0'  name="spRangeMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний урон</td>
                    <td><input value='0'  name="spCloseDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближние атаки</td>
                    <td><input value='0'  name="spCloseAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Ближний мод.</td>
                    <td><input value='0'  name="spCloseMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный урон</td>
                    <td><input value='0'  name="spMeleeDamage" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашные атаки</td>
                    <td><input value='0'  name="spMeleeAttacks" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Рукопашный мод.</td>
                    <td><input value='0'  name="spMeleeMod" type="number" size="3px"></td>
                </tr>
                <tr>
                    <td class="stat">Оружие 1 раунд</td>
                    <td>
                        <select name="spWeapon1">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 2 раунд</td>
                    <td>
                        <select name="spWeapon2">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Оружие 3 раунд</td>
                    <td>
                        <select name="spWeapon3">
                            <option value="Range">Дальний</option>
                            <option value="Close">Ближний</option>
                            <option value="Melee">Рукопашный</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Тактика 1 раунд</td>
                    <td>
                        <select name="spTactic1">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Тактика 2 раунд</td>
                    <td>
                        <select name="spTactic2">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="stat">Тактика 3 раунд</td>
                    <td>
                        <select name="spTactic3">
                            <option value="Aggression">Агрессия</option>
                            <option value="Careful">Осторожность</option>
                            <option value="Deception">Обман</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <!-- End second player stats -->
        <!-- Submit area start -->
        <div class="submitArea">
            <div style="float:left; padding:5px">
                <form method="POST" action="/notYet">
                    <input type="submit" value="ОЧИСТИТЬ">
                </form>
            </div>
            <div style="float:left; padding:5px">
                <input type="submit" value="ЗАПУСК">
            </div>
            <div style="float:left; padding:5px">
                <form method="POST" action="/notYet">
                    <input type="submit" value="ЭКСПОРТ">
                </form>
            </div>
        </div>
        <!-- Submit area end -->
    </form>
</div>
<!-- End container -->
</body>
</html>
